.movie-controller-block{
    ms-flex-positive: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1;
    flex: 1 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    min-width: 350px;
    height: 100vh;
    background: #ddd;
}